@charset "UTF-8";

#main {    
    background: url('../assets/img/me_background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.resume-section {
    max-width: 100%;
  }

a {    
    color: #343a40;
}

a:hover {
    color: #0049B7;
}

.social-icons .social-icon:hover {
    background-color: #0049B7;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 100%;
border-radius: 5px;
margin-bottom: 30px;
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
border-radius: 5px 5px 0 0;
}

.container {
padding: 2px 16px;
}

/* Container needed to position the overlay. Adjust the width as needed */
.box {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color:#848c94;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .box:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .icon-link{
      font-size: 15px;
  }

