/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    h1 {font-size:1.5rem;} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    h1 {font-size:2rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1 {font-size:2.5rem;} /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {font-size:3rem;} /*1rem = 16px*/
}
/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 0.5em;
    }
    .pac{
        height:100%;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
    .pac{
        height: 500px;
    }

}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
    .pac{
        height: 500px;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
    .pac{
        height:670px;
    }
}
@media screen and (min-width: 1900px) {
    body {
        font-size: 1.3em;
    }
    .pac{
        height:100%;
    }
}

body {
    width:100vw;
    overflow-x:hidden;
}
/* Style the Image Used to Trigger the Modal */


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0);
    }
    to {-webkit-transform:scale(1);
    }
}

@keyframes zoom {
    from {transform:scale(0);
    }
    to {transform:scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 60px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.big-top-padding{
    padding-top: 30%;
}

.small-top-padding{
    padding-top: 10%;
}
.space-between{
    height:30%;
}
.ocean-map{
    width:100%;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.ocean-map:hover {
    opacity: 0.7;
}
.plain-bg{
    background-color:whitesmoke;
}

#gallery {
    width: 992px;
    height: 1200px;
    margin: 20px auto;
    padding: 40px;
    position: relative;
}

#gallery div {
    background: #fff;
    position: absolute;
    overflow: hidden;
    opacity: 0.9;
    -webkit-transition: all 1500ms linear;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    -webkit-box-shadow: -3px -3px 50px #666;
    -moz-box-shadow: -3px -3px 50px #666;
    box-shadow: -3px -3px 50px #666;}

#gallery div#img1:hover,
#gallery div#img2:hover,
#gallery div#img3:hover,
#gallery div#img4:hover,
#gallery div#img5:hover,
#gallery div#img6:hover,
#gallery div#img7:hover,
#gallery div#img8:hover,
#gallery div#img9:hover,
#gallery div#img10:hover,
#gallery div#img11:hover{
    z-index: 999;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    opacity: 1;}


#gallery span {
    position: absolute;
    right: 0;
    bottom: 15px;
    color: #999;
    background: #fff;
    width: 35%;
    text-align: right;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;}

#gallery #img1 {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    top: 50px;
    left: 350px;
    z-index:1;
}

#gallery #img2 {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    top:30%;
    left:10%;
    z-index:7;
    }

#gallery #img3 {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-15deg);
    top: 50px;
    left:0;
    z-index:3;}

#gallery #img4 { /* eye */
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    top: 450px;
    left: 500px;
    z-index:4;}

#gallery #img5 {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    top: 10px;
    right: 100px;
    z-index:5;}

#gallery #img6 {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    top: 220px;
    right: 50px;
    z-index:6;}
#gallery #img8 {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    top: 400px;
    left: 0;
    z-index:6;}
#gallery #img7 {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    top: 180px;
    right: 150px;
    z-index:6;}

#gallery #img9 {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    top: 500px;
    right: 50px;
    z-index:6;}
#gallery #img10 {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    top: 700px;
    right: 50px;
    z-index:6;}
#gallery #img11 {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    top: 600px;
    left: 50px;
    z-index:6;}

.vertical-text-left{
    position: absolute;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); /* Safari/Chrome */
    -moz-transform: rotate(90deg); /* Firefox */
    -o-transform: rotate(90deg); /* Opera */
    -ms-transform: rotate(90deg); /* IE 9 */
    padding-left: 50px;
    padding-top: 400px;
    font-size: 100px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;

}

#myBtn:hover {
    background-color: #555;
}
.fullscreen{
    width: 100%;
    height:auto;
}
.profile-pic{
    position: absolute;
    top:5%;
    left:10%;
    width: 20%;
    height:auto;
    border-radius: 50%;
}

.profile-text {
    position: absolute;
    top: 15%;
    left: 5%;

    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: large;
}

.flag-pic{
    position: absolute;
    top:1%;
    left:25%;
    width: 10%;
    height:auto;
}
/* social icons */
.icon{
    width: 13%;
    height: auto;
}
.icon:hover{
    cursor: pointer;
}
.icon-insta{
    width: 10%;
    height: auto;
}
.icon-insta:hover {
    cursor: pointer;
}
.bottom-padding{
    padding-bottom: 1%;
}
.container-fluid{
    height:100%;
    margin:0;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background-color:darkblue;


    }

    .fullscreen-bg__video {
        display: none;
    }
}

.relative-col {
    position: relative;
}
.map {
    width: 100%;
    height:auto;
}

.arctic {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .3;
    width: 100%;
    height: auto;
}

.pacific1 {
    position: absolute;
    left: 0;
    top: 18%;
    opacity: .3;
    height: 70%;
    width: auto;

}

.atlantic {
    position: absolute;
    width: 27%;
    height:auto;
    left: 28%;
    top: 17%;
    opacity: 0.3;
}

.southern {
    position: absolute;
    bottom:0;
    left: 0;
    opacity: 0.3;
    width:100%;
    height:18%;
}

.indian {
    position: absolute;
    top:47%;
    left: 56%;
    opacity: 0.3;
    width: 35%;
    height:auto;
}

.pacificsecond {
    position: absolute;
    right: 0;
    top: 20%;
    opacity: 0.3;
    width:auto;
    height:65%;

}

.pacific1:hover {
    opacity: .8;
}

.pacificsecond:hover {
    opacity: .8;
}

.atlantic:hover {
    opacity: .8;
}

.arctic:hover {
    opacity: .8;
}

.indian:hover {
    opacity: .8;
}

.southern:hover {
    opacity: .8;
}
/* ocean background div*/
.pac {
    /* Center and scale the image nicely */
    background: whitesmoke no-repeat center;
    background-size: cover;

}